body{
    margin: 0;
    padding-top: 80px;
    padding-left: 90px;
    padding-right: 25px;
    background-color: rgb(246, 242, 242);
}

p {
    font-family: Roboto, Arial;
    margin-top: 0;
    margin-bottom: 0;
}