.header{
    height: 57px;
    display: flex;
    flex-direction:row;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    border-bottom: 1px solid #dedede;
    z-index: 100;
    margin-bottom: 20px;
}
.left-section{
    display: flex;
    align-items: center;
}
.hamburger{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}
.y-logo{
    height: 20px;
}
.center-section{
    display: flex;
    flex: 1;
    margin-left: 60px;
    max-width: 470px;
    align-items: center;
   
}
.search-bar{
    height: 38px;
    flex: 1;
    padding-left: 12px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.05);
    width: 0;
    min-width: 0;
    margin-right: none;
    border-right: none;
}

.search-bar::placeholder{
    font-family: Roboto;
    font-size: 16px;
}
.search-bar input{
    margin: 0;
}
.search-button{
    height: 40px;
    width: 64px;
    background-color: rgb(240, 240, 240);;
    border: 1px solid rgb(192, 192, 192);
    margin-right: 8px;
    margin-left: -1;
    cursor: pointer;
    
    position: relative;
}
.search-button .tooltip,
.voice-search .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 12px;
    border-radius: 2px;
    bottom: -40px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}
.search-button:hover .tooltip,
.voice-search:hover .tooltip
{
    opacity: 1;
}
.search-button-icon{
    height: 25px;
}
.voice-search{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    position: relative;
}



.right-section{
    width: 182px;
    margin-right: 24px;
    margin-left: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}


.upload{
    height: 24px;
}
.apps{
    height: 24px;
}
.notification-container{
    position: relative;
}
.notification{
    height: 24px;
}
.notification-count{
    position: absolute;
    background-color: red;
    right: -4px;
    top: -4px;
    font-family: Roboto, Arial;
    font-size: 11px;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
}


.my-channel{
    height: 32px;
    border-radius: 16px;
    width: 32px;
}